{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <h2>What would you like your case note to say now?</h2>
        <form method="POST">
            {{ update_form.hidden_tag() }}
            <div class="form-group">
                <fieldset>
                    {{ update_form.title.label }}
                    {{ update_form.title(class="form-control", placeholder = "Update your case note title") }}
                </fieldset>
                <fieldset>
                    {{ update_form.client.label }}
                    {{ update_form.client(class="form-control", placeholder = "Update your Client #") }}
                </fieldset>
                <fieldset>
                    {{ update_form.content.lagel }}
                    {{ update_form.content(class="form-control", placeholder= "Update Case Note Content") }}
                </fieldset>
                {{ update_form.submit(class="btn btn-primary") }}
            </div>
        </form>
    </div>
{% endblock content %}