{% extends 'baseindexpage3.html' %}

{% block content %}

    <div class="grid-wrapper_hp">
            <div class="leftbar_hp">
                    <img src="../static/css/images/wood1.PNG" alt="wood" class="leftbar">
                </div>
                <div class="rightbar_hp">
                    <img src="../static/css/images/wood1.PNG" alt="wood" class="rightbar">
                </div>

        <div class="headers_hp">
            <div id="logo_hp">
                <h1><!--NIELSEN, ZEHE & ANTAS, P.C.--></h1>
                <img src="../static/css/images/header_cb.png" alt="pic" class="center">
                </div>
        </div>

    
    <!--<div class="navbar_hp">-->
        <nav class="nav_content_hp"> 
            <ul style="color: black;">
            <li><a href="indexpage1.html">WHO WE ARE </a></li>
            <li><a href="indexpage2.html">WHAT WE DO </a></li>
            <li><a href="indexpage3.html">NEWS & EVENTS </a></li>
            <li><a href="register.html">REGISTER </a></li>
            <li><a href="login.html">LOGIN </a></li> 
            <li><a href="#home">LOGOUT </a></li>   
            </ul>   
        </nav>
            
        <!--</div>-->

        <div class="leftbox_hp" style="color:white">
                <h4>WHO WE ARE</h4>
                
                <hr color="white" style="width: 100%;">
                <style type="text/css"></style>

                <div class="ul">
                    <ol>
                        <li><p>Welcome</p></li>
                        <p></p>
                        <li><p>Attorneys</p></li>
                        <p></p>
                        <li><p>Staff</p></li>
                        <p></p>
                        <li><p>Reputation</p></li>
                        <p></p>
                        <li><p>History</p></li>
                    </ol>
                </div>
                <div class="mapimage">

                    <img src="../static/css/images/smallmap.png" alt="pic" class="mapimage">
                </div>
                <h5>Where we work</h5>
                <h5>Find out more about our work coverage area</h5>
                
        </div>
    
    
            <div class="textboxone_hp">
                <p>Who are we? That is one of the most important questions a prospective client can ask us. Our answer – one of the most respected law firms in the country that cares about your case, your business, and solving your problem. We invite you to get to know our attorneys better and understand the depth of experience and talent we have in the links below.</p>            
            </div>

            <div class="textboxtwo_hp">
            </div>

            <div class="picboxone_hp">
                <div class="container_hp">
                        <div class="image.hp" id="wel">
                        <img src="../static/css/images/welcome.png" width="350" height="110" alt="welcome">         
                    </div>
                    <div class="image.hp" id="Att">
                        <img src="../static/css/images/Attorneys.png" width="350" height="110" alt="Attorneys">

                    </div>

                    <div class="image.hp" id="sta">
                        <img src="../static/css/images/staff.png" width="350" height="110" alt="staff">

                    </div>

                    <div class="image.hp" id="rep">
                        <img src="../static/css/images/reputation.png" width="350" height="110" alt="reputation">

                    </div>
                    
                    <div class="image.hp" id="his">
                        <img src="../static/css/images/history.png" width="350" height="110" alt="history">

                    </div>
                </div>
               

               <!-- <div class="picboxtwo_hp">
                    
                    </div>

                    <div class="picboxthree_hp">
                            
                        </div>


                        <div class="picboxfour_hp">
                            
                            </div>

                            <div class="picboxfive_hp">
                                        <p>fvgvhdvf</p>
                                </div>

                                <div class="picboxsix_hp">
                                        <p>fvgvhdvf</p>
                                    </div>-->
            </div>                            


        <div class="bottombar_hp">
            <!-- <div class="col-md-12"> -->
            <div class="col-md-4 offset-md-4" id="bottomElem">
                <div class="center-span">
                <a href="#">
            <hr color="black" style="width: 100%;">
            <style type="text/css"></style>
                        <p>HOME</p>
                        <p>-</p>
                    
                    </a>
                    <a href="#">
                        <p>WHO WE ARE</p>
                        <p>-</p>
            
                    
                    </a>
                    <a href="#">
                        <p>WHAT WE DO</p>
                        <p>-</p>
                    </a>

                    <a href="#">
                        <p>NEWS & EVENTS</p>
                        <p>-</p>
                    </a>

                    <a href="#">
                        <p>WHERE WE WORK</p>
                        <p>-</p>
                    </a>

                    <a href="#">
                        <p>CONTACT</p>
                        
                    </a>
                </div>
                <p> &copy; 2009 Nieslen, Zehe & Antas , P.C. //Website Design by OneTen Creative</p>
            </div>
        </div>
        <div class="bottomborder_hp">

        </div>
    </div>    
 </body>   
 </html>    

 {% endblock content %}