


<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" style="color:red;" style="border-style: double;"></a>
    <button class = "navbar-toggler" type = "button" data-toggle= "collapse" data-target = "#blogNNav" aria-controls = "blogNav" aria-expanded = "false" aria-label = "Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        <span></span>
    </button>
    <!-- navigation button will go here-->
    <div class= "collapse navbar-collapse" id ="blogNav">
        <ul class="nav nav-tabs">
            <li class="nav-item active">
                <!-- url insert for functions in routes for 'home' and 'testRoute' -->
                <a class="nav-link" href="{{ url_for('indexpage1') }}">HOME</a>
            </li>
            <li class="nav-item">
                <!-- from bootstraps -->
                <a class="nav-link" href="{{ url_for('indexpage2') }}">WHAT WE DO</a>
            </li>
            <li class="nav-item">
                <!-- from bootstraps -->
                <a class="nav-link" href="{{ url_for('indexpage3') }}">WHO WE ARE</a>
            </li>
            <li class="nav-item">
                <!-- from bootstraps -->
                <a class="nav-link" href="{{ url_for('register') }}">REGISTER</a>
            </li>
            <li class="nav-item">
                <!-- from bootstraps -->
                <a class="nav-link" href="{{ url_for('login') }}">LOGIN</a>
            </li>
            <li class="nav-item">
                <!-- from bootstraps -->
                <a class="nav-link" href="{{ url_for('logout') }}">LOGOUT</a>
            </li>
            <li class="nav-item">
                <!-- from bootstraps -->
                <a class="nav-link" href="{{ url_for('cns') }}">ADD CASE NOTES</a>
            </li>
            <li class="nav-item">
                <!-- from bootstraps -->
                <a class="nav-link" href="{{ url_for('home') }}">DASHBOARD</a>
            </li>
        </ul> 
    </div>
</nav>

         