{% extends 'base.html' %}

{% block content %}
    <!-- using boot straps for 'center' forms: -->
    <div class="justify-content-center">
        <form method="POST">
            <!-- this curly bace portion was added after the rest of the bootstrap instructions -->
            {{ user_form.hidden_tag() }}
            <div class="form-group col-lg-3 offset-lg-3">
                <fieldset>
                    <h1 class="justify-content-center" style="color: black;">Register Attorney:</h1>
                    {{ user_form.username.label }}
                    {{ user_form.username(class="form-control", placeholder = "Add User Name")}}
                </fieldset>
                <fieldset>
                    {{ user_form.email.label }}
                    {{ user_form.email(class="form-control", placeholder = "Add Email")}}
                </fieldset>
                <fieldset>
                    {{ user_form.password.label }}
                    {{ user_form.password(class="form-control", placeholder = "Add Password")}}
                </fieldset>
                <fieldset>
                    {{ user_form.confirm_pass.label }}
                    {{ user_form.confirm_pass(class="form-control", placeholder = "Confirm your password")}}
                </fieldset>
                <!-- adds green button: -->
                <div class="spacing" style="padding-top: 20px;">
                {{ user_form.submit(class = "btn btn-primary")}}
                </div>
            </div>
        </form>
    </div>
</div> 

{% endblock content %}




